.form-wrapper {
  padding-left: 60%;
  padding-top: 5%;
  text-align: center;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-image: url('./images/red_snow.gif');
  background-repeat: no-repeat;
  background-size:100% 100vh;
}


.App-header {
  text-align: center;
  margin-top: 20px;
}

.App-header .menu {
  padding: 30px;
  font-color: white;
  font-size: 2em;
  font-family: 'Mountains of Christmas', sans-serif;
  font-weight: bold;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}


.header p {
  float: left;
  padding: 20px;
  margin: 10px;
}

.App-header .logout {
  float:right;
  padding-right: 10px;
}

.App-header .find {

}

.wish-form {
  padding: 40px;
}

.wishlist-container {
  border: 2px solid;
}

.wish-container {
  background-color: white;
  margin-bottom: 10px;
}

#wish-img {
  max-height: 200px;
  max-width: 200px;
}

#item {
  font-weight: bold;
}

#link {
  float: right;
}

#delete {
  float:right;
}

#price {
  float:left;
}

#rank {
  float:right;
}

#propic {
  max-width: 300px;
  max-height: 300px;
  margin: 30px;
}


.profile-container {
  background-color: white;
}

.wish-container {
  border: 1px solid;  
  padding: 10px;
  float: left;
}
.friend-requests {
  border: 2px solid;
  display: inline-block;
  padding: auto;
  margin: 20px;
  background-color: white;
  max-width: 300px;
  height: auto;
}

#accept {
  float: right;
}

.friends {
  text-align: center;
  padding-top: 30px;
}

.each-wish {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  max-height: 300px;
  width: 300px;
  margin: 10px;
  float: left;
  background-color: white;

}

.find-users {
  float: right;
  margin-right: 10%;
  padding-right: 2em;
  padding-bottom: 0.8em;
}

.shop {
  text-align: center;
  padding-top: 2em;
}

#countdown {
  text-align: right;
  padding-right: 10%;
  font-size: 2em;
  color: green;
}

#msg {
  text-align: right;
  padding-right: 10%;
  font-size: 2em;
  color: green;
}

p {
  text-align: left;
}
