.form-wrapper {
  padding-left: 60%;
  padding-top: 5%;
  text-align: center;
}

body {

}
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  text-align: center;
}

.App-header .item {
  padding: 30px;
  font-color: white;
  font-size: 1.5em;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}


.header p {
  float: left;
  padding: 20px;
  margin: 10px;
}

.wish-form {
  padding: 40px;
}

.wishlist {
  padding: 50px;
}

.friend-requests {
  border: 2px solid;
  display: inline-block;
  padding: 10px 200px 100px 10px;
  margin: 20px;
  background-color: white;
}

.friends {
  text-align: center;
  padding-top: 30px;
}

.each-wish {
  border-style: solid;
  border-width: 0.5px;
  padding: 10px;
  height: 350px;
  width: 350px;
  margin: 10px;
  float: left;

}

.find-users {
  float: right;
  margin-right: 10%;
  padding-right: 2em;
  padding-bottom: 0.8em;
}

.shop {
  text-align: center;
  padding-top: 2em;
}

#countdown {
  text-align: right;
  padding-right: 10%;
  font-size: 2em;
  color: green;
}

#msg {
  text-align: right;
  padding-right: 10%;
  font-size: 2em;
  color: green;
}

p {
  text-align: left;
}
