.form-wrapper {
  padding-left: 60%;
  padding-top: 5%;
  text-align: center;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #ad0f1f;
 /* background-image: url('./images/red_snow.gif');
  background-size:100% 100vh;*/
}


.App-header {
  margin-top: 2%;
  margin-left: 8%;
}

.logo {
  font-color: white;
  font-family: 'Mountains of Christmas', sans-serif;
  font-weight: bold;
  font-size: 2.5em;

}
.App-header .menu {
  margin: 2%;
  font-size: 2.5em;
  font-family: 'Mountains of Christmas', sans-serif;
  font-weight: bold;
}

a:link {
  color: black;
  text-decoration: none;
}


a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #e8ebef;
}


.header p {
  float: left;
  padding: 20px;
  margin: 10px;
}

.App-header .logout {
  float:right;
  padding-right: 10px;
}

.App-header .find {

}

.wish-form {
  padding: 10px;
}

.ui.card.wishlist-container {
  float: left;
  width: 70%;
  margin-left: 2%;
}

.wishlist {
  background-color: white;
  float: left;
  margin: 1%;
  padding: 1%;
}

.wish-img {
  min-height: 50px;
  max-height: 100px;
  max-width: 100%;
  object-fit: contain;
}


.item {
  font-weight: bold;
}

.more-info a:link {
  float: right;
  font-style: underline;
  text-decoration: underline;

}

.result-more-info a:link {
  float: left;
  font-style: underline;
  text-decoration: underline;

}

.delete {
  float: right;
}

.valignment .price {
  float:left;
}

.result-price {
   float: right;
}

.valignment .rank {
  float:right;
  position: relative;
}

.add-button {
  float:right;
}

.requester-img {
  width:50px;
  height:50px;
  float:left;
  margin: 4px;
  border-radius: 25px;
  object-fit: cover;
}

.caption {
  font-weight: bold;
}

.profile-friend-request {
  margin-top: 10px;
}

.friends {
  text-align: center;
  padding-top: 30px;
}

.friend-count {
  font-size: 1.3em;
  margin: 0px 0px 0px 30px;
  color: white;
}

#each-friend {
  float: left;
  margin: 30px;

}

#friend-name {
  font-weight: bold;
}

#friend-pic {
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
  object-fit: cover;
  border-radius: 10px;

}

.result-list {
  margin: 4%;
}

.each-result {
  border: 1px solid white;
  background-color: white;
  height: 230px;
  margin: 10px;
  border-radius: 25px;
  padding: 10px 20px;
  width: 223px;
  float: left;
  position: relative;
}

.each-wish {
  height: 250px;
  margin: 5px;
  float: left;
  background-color: white;
  border: 1px solid #a1a1a1;
  padding: 10px 20px;
  border-radius: 25px;
  width: 223px;
}

.find-users {
  float: right;
  margin-right: 10%;
  padding-right: 2em;
  padding-bottom: 0.8em;
}

.each-request {
  height: 90px;
  margin-top: 10px;
}

.friends {
  margin: 3%;
}

.no-result {
  font-size: 2.0em;
  text-align: center;
}

.shop {
  text-align: center;
  padding-top: 2em;
}

.propic {
  object-fit: cover;
}

#countdown {
  text-align: right;
  padding-right: 10%;
  font-size: 2em;
  color: green;
  font-family: 'PT Sans';
}

#msg {
  text-align: right;
  padding-right: 10%;
  font-size: 2em;
  color: green;
}

.propic-img {
  margin: 20px;
}

.bio {
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
}
.upload-img {
  border: 1px solid;
  width: 100px;
  border-radius: 10px;
}

.buttons {
  float: right;
  clear: right;
  margin-right: 10px;
  margin-bottom: 20px;
  bottom: 0;
}

.profile-update {
  position: relative;
}

textarea {
height: 50px;
}

.propic-preview {
  object-fit: cover;
  float:right;
  margin: 10px;
}

.browse {
  margin: 5px;
  padding-top: 5px;
  text-align: center;
}

.textarea {
  font-family: inherit;
}

.ui.action.input {
  margin-top: 2%;
  width: 40%;
  height: 50px ;
}

.ui.card {
  float:left;
}

.ui.card.request {
  max-height: auto;
  margin-left: 2%;
  margin-bottom: 2%;
  position: absolute;
  margin-top: 440px;
}


.ui.card:first-child {
  margin-top: 40px;
  margin-left: 2%;
}

.ui.card.friend-request {
  margin-left: 2%;
  width: 10%;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, .85) !important; 
}

.ui.mini.button {
  float:right;
}

.ui.compact.button.add-wish {
  float:right;
}

.ui.tiny.button.send-request {
  margin-left: 5%;
  width: 80%;
}

.ui.header:first-child {
  margin: 10px;
}


p {
  text-align: left;
}
